<h1>Schedules</h1>

<div id="schedules">
  <% @schedules.group_by {|s| l(s.served_at, format: "%W")}.each do |week, schedules| %>
    <ul>
      <li>Week <%= week %></li>

      <% schedules.each do |schedule| %>
        <li><%= link_to "#{l(schedule.served_at, format: "%A")} - #{schedule.meal.title}", schedule %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to "New schedule", new_schedule_path, class: "btn btn--primary" %>
