<h1>Schedules</h1>

<%= link_to "New schedule", new_schedule_path, class: "btn btn--primary" %>

<hr>

<div id="schedules">
  <div class="push-md--bottom">
    <div data-controller="calendar" data-calendar-events-value="<%= @schedules.map(&:to_event).to_json %>"></div>
  </div>

  <% @schedules.group_by { |s| l(s.served_at, format: "%W") }.each do |week, schedules| %>
    <ul class="list--unindented">
      <li>Week <%= week %></li>

      <% schedules.each do |schedule| %>
        <li><%= link_to "#{l(schedule.served_at, format: "%A")} - #{schedule.meal.title}", schedule %></li>
      <% end %>
    </ul>
  <% end %>
</div>
