<%= form_with(model: meal) do |form| %>
  <div>
    <%= form.label :title, class: "u-display-b txt--bold" %>
    <%= form.text_field :title, required: true, class: "input", autofocus: true %>
  </div>

  <div>
    <%= form.submit class: "btn btn--primary" %>
  </div>
<% end %>
